<plugin name='grails-direct-messages' version='0.1' grailsVersion='2.1 &gt; *'>
  <author>Pablo Alba</author>
  <authorEmail>pablo.alba@gmail.com</authorEmail>
  <title>Grails Direct Messages Plugin</title>
  <description>Grails plugin for direct messages between users, similar to twitter or facebook direct messages, 
that is, all the messages between two users form a unique conversation.
</description>
  <documentation>https://github.com/kaleidos/grails-direct-messages</documentation>
  <type>GrailsDirectMessagesGrailsPlugin</type>
  <resources>
    <resource>net.kaleidos.directmessages.Message</resource>
    <resource>net.kaleidos.directmessages.DirectMessageService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>